.modal{
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#signup-model input{
    margin-top: 5px;
    margin-left: 50px;
}

#signup-model form{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin: 0px 5px 5px 5px;
    background-color: #e4e4e4;
    margin: auto;
    width: 500px;
    padding-bottom: 10px;
}

.formButton{
    margin-top: 15px;
    margin-left: 20px;  
}

#cancel{
    background-color: red;
    color: white;
    width: 85px;
    height: 30px;
    border: 1px solid black;
}

.spacing{
    margin-top: 20px;
}

h1{
    font-family: "Serif";
    color: white;
    width: 500px;
    background-color: #281d91;
    text-align: center;
    margin: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

label{
    margin-left: 50px;
    display: block
}

#pacman{
	
}