@charset "utf-8";
/* CSS Document for article creator page */

#textbox {
	max-width: 80%;
	max-height: 680px;
	min-width: 80%;
}
#preview{
	overflow: scroll;
	max-width: 80%;
	max-height: 680px;
	min-width: 80%;
	float: right;
}
#previewButton {
	display: block;
}
#submitButton{
	display: inline;
}
