/* style sheet for search page*/

#result {
	
	border: 1px solid black;
	box-sizing: border-box;
	margin-left: 30%;
	width:700px;
}

.resultList {
	width: 500px;
	border: 1px solid black;
	box-sizing: border-box;
	}
	
#wrapperOfSearch {
	width: 700px;
	height: 500px;
	border: 1px solid black;
	box-sizing: border-box;
	margin-left: 30%;
}

#popTag {
	float:left;
	border: 1px solid black;
	box-sizing: border-box;
	width:25%;
	height:100%;
}

#main #search{
	margin-left:2%;
	float:left;
	width: 80%;
	height: 45px;
	margin-top:2%;
	
}

#dropTags {
	border: 1px solid black;
	box-sizing: border-box;
	margin:0;
	height:100%;
	float:left;
	width: 75%;
}

#submitOfSearch 
{
	width:50px;
	text-align: center;
	font-size:10px;
	height: 50px;
	background: #D3D3D3;
	float:left;
	margin-left:2%;
	margin-top: 10px;
}

#userTag{
	width: 30%;
	margin-left:2%;
	margin-top: 2%;
	border: 2px solid black;
	box-sizing: border-box;
	height: 400px;
	margin-right: 0;
	float:left;
}

#wrapperOfAddTag
{
	width: 60%;
	margin-left:2%;
	margin-top: 2%;
	box-sizing: border-box;
	height: 80%;
	margin-right: 0;
	float:left;
}

#addTag {
	margin-top:45%;
	width:55%;
	margin-right: 2%;
	margin-left: 0;
}

#submitOfAdd {
	margin-top:45%;
	width:30%;
	margin-right: 2%;
	margin-left: 2%;
}

.tag{
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	height: 20px;
	margin: 2px;
	border-radius: 5px;
}

.submitLink{
	background:none;
    color:inherit;
    border:none; 
    padding:0;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.preview{
	
}